body {
    background-image: url('/static/img/mainpage_background.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.tm-site-header {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.tm-site-header h1 {
    font-size: 36px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.tm-about {
    background-color: #f7f7f7; 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.tm-about h2 {
    font-size: 24px;
    color: #333;
}

.tm-contact-form {
    margin-top: 20px;
}

.tm-contact-form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
}

.tm-btn-submit {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.slider {
    width: 80%;
    margin: 0 auto;
}



.slider-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
    padding: 10px;
}

.slider img {
    width: 330px;
    height: 260px;
}


.drink-store, .drink-name {
    font-size: 18px;
    color: #333;
    margin: 10px 0; 
}

.slider-item a {
    display: block;
    font-size: 20px;
    color: #333;
    text-decoration: underline;
    margin-top: 0px;
}

.tm-footer {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 10px;
    color: #333;
}


.tm-footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.tm-footer-section {
    flex-basis: 48%; 
    padding: 10px;
}


.tm-footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.tm-footer-section a {
    color: #333;
    text-decoration: underline;
}


.tm-footer-section p {
    font-size: 15px;
    margin: 10px 0;
}