<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WannaDRINK</title>
    <link href="static/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>


</head>

<body>

	<div class="tm-container-fluid">
		<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
			<i class="fas fa-heart fa-3x"></i>
			<h1>WannaDRINK</h1>
			<p>手搖飲攻略大全, 提供最近流行的手搖飲資訊以及飲料評價</p>
		</section>


		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<h2>🧋搜尋飲料店🧋</h2>
				<form id="contact-form" action="/search" method="POST" class="tm-contact-form" >
					<input type="text" id="search" name="search" placeholder="清心" required><br><br>		          	
		          	<button type="submit" class="tm-right tm-btn-submit">send</button>          	
		        </form>  
			</div>

		</section>

		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded tm-flex-center">
			<div class="tm-about-header tm-flex-center">
				<h2>🥤熱門飲料🥤</h2>
			</div>
			<div class="slider">
				
			</div>
			<p class="slider-item"><a href="/dashboard_/" >更多流行飲料</a></p>

		</section>


		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<h2><a href="map.html">🌏飲料地圖🌏</a></h2>
				<iframe class="map tm-about-header tm-flex-center", src="/map.html" width="800" height="600"></iframe>
			</div>
		</section>


		<footer class="tm-footer">
			<div class="tm-footer-content">
				<div class="tm-footer-section">
					<p>謝謝你們使用wannadrink <3</p>
					<p>如果有任何問題歡迎寄信聯絡我 ヾ(●´∀`●)ﾉ</p>
					<p>人生苦短，手搖飲萬歲～</p>
				</div>
				<div class="tm-footer-section">
					<h3>聯絡方式</h3>
					<p>Email: <a href="mailto:tracy4528@gmail.com">tracy4528@gmail.com</a></p>
					<p>Github: <a href="https://github.com/tracy4528/WannaDRINK">tracy4528/WannaDRINK</a></p>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script src="static/js/index_hotdrink.js"></script>

</html>