<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WannaDRINK</title>
    <link href="static/css/main.css" rel="stylesheet">

</head>

<body>
	<div class="tm-gallery-section tm-mb-80">
		<ul class="filters-button-group tm-mb-40">
			<li><a href="#today-hot-section" data-filter=".city">today Hot</a></li>
			<li><a href="/map.html" >drink map</a></li>
			<li><a href="/api/v1/profile" >member profile</a></li>
			<li><a href="#" class="active" data-filter="*">Show All</a></li>
		</ul>
	</div>

	<div class="tm-container-fluid">
		<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
			<i class="fas fa-heart fa-3x"></i>
			<h1>WannaDRINK</h1>
		</section>

		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<i class="fas fa-users fa-2x"></i>
				<h2>About Us</h2>
			</div>
			<div class="tm-about-text">
				<p class="tm-mb-40">WannaDrink is your go-to destination for all things drinks! We're your friendly neighborhood hub for handcrafted drink recommendations and the latest buzz in the beverage world. Sip, savor, and stay in the know with WannaDrink! Cheers! 🥤🍹📢</p>
			</div>
		</section>

		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<h2>🥤搜尋飲料店或飲料🥤</h2>
				<form id="contact-form" action="/search" method="POST" class="tm-contact-form">
					<label  for="search">飲料:</label>
					<input type="text" id="search" name="search" required><br><br>		          	
		          	<button type="submit" class="tm-right tm-btn-submit">send</button>          	
		        </form>  
			</div>

		</section>

		<section id="today-hot-section" class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<i class="fas fa-users fa-2x"></i>
				<h2>Hot! </h2>
			</div>
			<div class="tm-about-text">
				<p class="tm-mb-41">＃可不可🥤, ＃麻古🥤</p>
			</div>
		</section>

		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<i class="fas fa-users fa-2x"></i>
				<h2>熱門文章! </h2>
			</div>
			<div class="tm-about-text">
				<p class="tm-mb-42"></p>
			</div>
		</section>





		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<h2>🌏飲料地圖🌏</h2>
				<iframe class="map", src="/map.html" width="600" height="600"></iframe>
				<a href="map.html"><b style="background-color: lightcoral; color: lightcyan;">
					click here!
				</b></a>


			</div>
		</section>



		<footer class="tm-footer">
			 2023 WannaDRINK - Design: Tracy Huang
		</footer>
	</div>

	<script >
		function searchDrink() {
            var drinkName = document.getElementById("drinkInput").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://127.0.0.1:8000/submit", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
					var jsonData = response.data; 
                    var drinkResult = document.getElementById("drinkResult");
                    if (jsonData.imageUrl) {
                        drinkResult.innerHTML = "<img src='" + jsonData.imageUrl + "'>";
                    } else {
                        drinkResult.innerHTML = "未找到该飲料！";
                    }
                }
            };
            xhr.send("drinkName=" + encodeURIComponent(drinkName));
        }


		document.addEventListener('DOMContentLoaded', function () {
			const xhr = new XMLHttpRequest();
			xhr.open('GET', 'http://127.0.0.1:8000/api/v1/hotword', true);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					const response = JSON.parse(xhr.responseText);
					const jsonData = response.data; 
					const jsonDataElement = document.querySelector('.tm-mb-41');
					const jsonDataItems = jsonData.map(item => `<p>${item}</p>`);
					jsonDataElement.innerHTML = jsonDataItems.join('');
				} else {
					console.error('error', xhr.status);
				}
				}
			};
			xhr.send();
		});

		document.addEventListener('DOMContentLoaded', function () {
			const xhr = new XMLHttpRequest();
			xhr.open('GET', 'http://127.0.0.1:8000/api/v1/hot_article', true);
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					const response = JSON.parse(xhr.responseText);
					const articles = response.data; 
					const container = document.querySelector('.tm-mb-42');
					articles.forEach(article => {
								const link = document.createElement("a");
								link.href = article.path;
								link.textContent = article.title;
								link.target = "_blank"; // 在新标签页中打开链接

								// 将链接元素添加到容器中
								container.appendChild(link);

								// 添加换行符
								container.appendChild(document.createElement("br"));
							});

				} else {
					console.error('error', xhr.status);
				}
				}
			};
			xhr.send();
		});


	</script>
</body>
</html>