<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WannaDRINK</title>
    <link href="static/css/a.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">


</head>

<body>

	<div class="tm-container-fluid">
		<section class="tm-site-header tm-flex-center tm-mb-50 tm-bgcolor-1 tm-border-rounded">
			<i class="fas fa-heart fa-3x"></i>
			<h1>WannaDRINK</h1>
			<p>熱門飲料店攻略</p>
		</section>


		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<h2>🧋搜尋飲料店🧋</h2>
				<form id="contact-form" action="/search" method="POST" class="tm-contact-form">
					<input type="text" id="search" name="search" required><br><br>		          	
		          	<button type="submit" class="tm-right tm-btn-submit">send</button>          	
		        </form>  
			</div>

		</section>

		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded tm-flex-center">
			<div class="tm-about-header tm-flex-center">
				<h2>🥤熱門飲料🥤</h2>
			</div>
			<div class="slider ">
				
				<div class="slider-item">
					<img src="static/img/no1.jpeg">
					<div class="drink-store">默沫手作飲品</div>
					<div class="drink-name">蘋果桂花</div>
				</div>

				<div class="slider-item">
					<img src="static/img/no2.jpeg" >
					<div class="drink-store">先喝道</div>
					<div class="drink-name">伯爵奶茶</div>
				</div>

				<div class="slider-item">
					<img src="static/img/no3.jpeg" >
					<div class="drink-store">烏弄</div>
					<div class="drink-name">金萱烏龍</div>
				</div>

				<div class="slider-item">
					<img src="static/img/apple.png" >
					<div class="drink-store">龜記銘品</div>
					<div class="drink-name">蘋果紅萱</div>
				</div>

				<div class="slider-item">
					<img src="static/img/8yao.jpeg" >
					<div class="drink-store">八曜和茶</div>
					<div class="drink-name">83蜂檸爽爽</div>
				</div>

			</div>
			<p class="slider-item"><a href="/dashboard_/" >更多流行飲料</a></p>

		</section>


		<section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-2 tm-border-rounded">
			<div class="tm-about-header tm-flex-center">
				<h2>🌏飲料地圖🌏</h2>
				<iframe class="map", src="/map.html" width="600" height="600"></iframe>
				<a href="map.html"><b style="background-color: lightcoral; color: lightcyan;">
					click here!
				</b></a>

			</div>
		</section>




		<footer class="tm-footer">
			 2023 WannaDRINK - Design: Tracy Huang
		</footer>
	</div>

	<!-- <script >
		function searchDrink() {
            var drinkName = document.getElementById("drinkInput").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/submit", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
					var jsonData = response.data; 
                    var drinkResult = document.getElementById("drinkResult");
                    if (jsonData.imageUrl) {
                        drinkResult.innerHTML = "<img src='" + jsonData.imageUrl + "'>";
                    } else {
                        drinkResult.innerHTML = "未找到该飲料！";
                    }
                }
            };
            xhr.send("drinkName=" + encodeURIComponent(drinkName));
        }

	</script> -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.slider').slick({
				autoplay: true,
				autoplaySpeed: 3000, 
				infinite: true, 
				slidesToShow: 3, 
				slidesToScroll: 1 
			});
		});
	</script>

</html>